/* Сперва общие правила */

{
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
    font-family: arial;
    margin-left: 10px;

}

p {
width: 300px;

}

a {


}

/* Колонки */

.row {

    display: flex;



}
.col {

    flex: auto;
    width: 200px;


}


/* Потом селекторы по классам */

.text-input {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;

}

.button {
    border-radius: 8px;
    width: 130px;
    height: 40px;
    color: white;
    background: #554AF0

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;

}


/* Страничка жанров и тегов */

.genre-first {

width: 300px;
height: 40px;
background-color: #E1F5EA;
border-radius: 8px;
margin-bottom: 20px;
padding-left: 20px;
padding-top: 15px;

}

.genre-second {

width: 250px;
height: 40px;
background-color: #CBEDFF;
border-radius: 8px;
margin-bottom: 20px;
padding-left: 20px;
padding-top: 15px;

}

.genre-third {

width: 150px;
height: 40px;
background-color: #FBECDD;
border-radius: 8px;
margin-bottom: 20px;
padding-left: 20px;
padding-top: 15px;

}

.genre-fourth {

width: 100px;
height: 40px;
background-color: #EBDCF9;
border-radius: 8px;
margin-bottom: 20px;
padding-left: 20px;
padding-top: 15px;

}

.tag {

color: #554AF0;

}

/* Страничка популярного */

.cover {
margin-bottom: 20px;
margin-right: 20px;

}

/* Страничка подписки  */

.box-green {

width: 300px;
height: 60px;
background-color: #E1F5EA;
border-radius: 5px;
margin: 20px 0px 35px;
padding: 20px 15px 15px;

}

.box-purple {

width: 300px;
height: 60px;
background-color: #EBDCF9;
border-radius: 5px;
margin: 30px 0px 35px;
padding: 20px 15px 15px;

}

.text-large {

font-size: 30px;
margin-bottom: 10px;

}

.button-link {

    color: white;
    border-style: none;
    padding: 16px 24px;
    background: #554AF0;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 15px;


}
